{% extends 'base.html' %}
{% load static %}
{% block css %} 
<link rel="stylesheet" href="{% static 'student/css/style.css' %}">
{% endblock %}
{% block title %} <title> Student / index.html</title> {% endblock %}
{% block sidebar %} <h1> Side Bar </h1> {% endblock %}
{% block content %}
    <h1> student app templates / index.html</h1>
    <img src="{% static 'student/images/man.jpg' %}" alt="" srcset="">
    <h1>{{name}}</h1>
    <h1>{{age}}</h1>
    <h1>{{courses}}</h1>
    <ul> 
        {% for course in courses %}
            <li>{{course}}</li>
        {% endfor %}
    </ul>
{% if nonkey %}
    <h1>{{nonkey}}</h1>
{% endif %}
{% endblock %}
